/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-may-2014, 1:31:30
    Author     : Víctor
*/

body {
    padding-top: 50px;
}
.principal {
    padding: 40px 15px;
    text-align: center;
}

.nocentrado{
    padding: 40px 15px;
}

.chat{
    padding: 40px 15px 150px;
}

.table th{
    text-align: center;
}

.btn{
    vertical-align: bottom;
}

.alerta{
    background-color: red;
}

.notificacion{

}

.notificacion-error{

}

img.peque
{
    width: 100px;
}

//Para centrar los botones de la barra de navegación
/*.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}*/

//Para que el menú no colapse
.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: inherit !important;
    margin: 0 auto;
    display: flex;
    table-layout: fixed;
}


.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.breadcrumb.mio {
    padding: 0px 15px !important;
    background-color: transparent !important;
    margin-top: 15px !important;
}

/* Sticky footer styles
-------------------------------------------------- */
//html {
//    position: relative;
//    min-height: 100%;
//}
//body {
//    /* Margin bottom by footer height */
//    margin-bottom: 60px;
//}
//#footer {
//    position: absolute;
//    bottom: 0;
//    width: 100%;
//    /* Set the fixed height of the footer here */
//    height: 60px;
//    background-color: #f5f5f5;
//}
/*-------------------------------------------------- */